<form action="/signup" method="POST" class="login100-form validate-form">

	<span class="login100-form-title p-b-26">
		Create a new account
	</span>

	<div class="wrap-input100 validate-input" >
		<input class="input100" type="text" name="psuedo">
		<span class="focus-input100" data-placeholder="Pseudo"></span>
	</div>

	<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
		<input class="input100" type="text" name="email">
		<span class="focus-input100" data-placeholder="Email"></span>
	</div>

	<div class="wrap-input100 validate-input" data-validate="Enter password">
		<input class="input100" type="password" name="password">
		<span class="focus-input100" data-placeholder="Password"></span>
	</div>

	<div class="wrap-input100 validate-input" data-validate="Confirm password">
		<input class="input100" type="password" name="password_confirm">
		<span class="focus-input100" data-placeholder="Confirm password"></span>
	</div>

	<div class="container-login100-form-btn">
		<div class="wrap-login100-form-btn">
			<div class="login100-form-bgbtn"></div>

			<button class="login100-form-btn">
				Sign up
			</button>

		</div>
	</div>

	<div class="text-center p-t-115">

		<span class="txt1">
			Do have an account?
		</span>

		<a class="txt2" href="/login">
			Sign in
		</a>
	</div>

</form>
