  <h1>Welcome to our CMS</h1><br>
  <h3>Join us today.</h3>
  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button onclick="location.href='/signup'"class="login100-form-btn">
        Sign up
      </button>
    </div>
  </div>

  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button onclick="location.href='/login'" class="login100-form-btn">
        Log in
      </button>
    </div>
  </div>
